.w-container .no-register{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w-container .no-register .img img{
    width: 40rem;
    height: auto;
}

.w-container .no-register .text{
    text-align: center;
    padding: 1.6rem;
    font: 600 2.6rem Poppins;
}

.w-container .no-register .button{
    padding: 1.6rem;
}

.w-container .no-register .button a{
    text-decoration: none;
}