
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F5F2FE;
    margin-left: 25rem;
    height: fit-content;
}

.content .nav{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;

    padding: 2.4rem 2.4rem 0.8rem 2.4rem;    
}


.content .nav .nav-container{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: flex-end;   
}

.content .nav .submenu {
    display: flex;
    flex-direction: row;
}

.content .nav .submenu .submenu-list .submenu-item{    
    font: 1.6rem Poppins;
    font-weight: 700;
    color: #A1A8B4;  
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.3s
} 

.content .nav .submenu .submenu-list .submenu-item:hover{    
    color: #1E1E26; 
}

.content .nav .submenu .submenu-list .submenu-item.active {    
    color: #1E1E26;
    transition: 0.3s
}

.content .nav .submenu .submenu-list .submenu-item.active:hover {    
    color: #A1A8B4; 
}

.content .nav  .nav-container .welcome{
    font: 1.6rem Poppins;
    font-weight: 700;
    color: #A1A8B4;  
    margin: 0 1.6rem;
}

.content .nav .nav-container .user-icon{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;   
    border-radius: 50%;

    color: #A1A8B4;  
    margin: 0 0.8rem;
    transition: 0.3s;
}
.content .nav .nav-container  .user-icon:hover{
    background-color: #C4C4C4;
    color: #FFF;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}
.content .nav .nav-container .user-icon:active{
    background-color: #C4C4C4;
    color: #FFF;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.content .nav .nav-container .notification{
    display: flex;
 }

.content .nav .nav-container .notification-icon{ 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;      
    border-radius: 50%;

    color: #A1A8B4; 
    margin: 0 0.8rem;
    transition: 0.3s;
}

.content .nav .nav-container .notification .notification-popup{     
    position: absolute;
    top: 31px;
    right: 45px;

    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #62AA31;
    transition: 0.3s;
}

.content .nav .nav-container .notification .notification-icon:hover{
    background-color: #C4C4C4;
    color: #FFF;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.content .nav .nav-container .notification .notification-icon:active{
    background-color: #C4C4C4;
    color: #FFF;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.content .page-container{    
    display: flex;
    flex-direction: column;
    
    padding: 0.8rem 2.4rem; 
}

.content .page-container h1{
    font: 3.6rem Poppins;
    font-weight: 700;
    color: #1E1E26;  
    margin: 1.6rem;
    
}
