.sections{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sections .item-section{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.6rem;
    color:white;

    transition: 0.3s;
}


.sections .item-section.active{
    background-color: #62AA31;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.fieldset-group fieldset{
    border: 0;
    padding: 0 2.4rem;
    
}
.invisible{
    display: none;
}

.fieldset-group fieldset legend{
    font: 700 2.4rem Poppins;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

.fieldset-group fieldset span.error{
    font: 700 2.4rem Poppins;
    color: #FF0000;
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

.fieldset-group fieldset span.error.hidden{
    /* display: none; */
    opacity: 0;
    width: 0px;
}

.input-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1.6rem;
}
.button-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1.6rem 0;
}

.button-group .btn{
    margin: 0 0.8rem;
}